* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  background-color: #5d5422;
}

body {

    color:#acaaad;
    font: 13px Helvetica, Arial;


    width: 1920px;
    height: 1080px;

    overflow: hidden;

    background-color: #000;
    /*background-image: url(backgrounds/logo.png);*/

    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center center;

}